---
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>drnlab</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="/vendor/flickity/flickity.min.css" rel="stylesheet"/>
<link href="style.css" rel="stylesheet"/>
<link rel="icon" type="image/png" sizes="32x32" href="media/icon-32x32.png"/>
<link rel="icon" type="image/png" sizes="196x196" href="media/icon-196x196.png"/>
<link rel="apple-touch-icon" sizes="60x60" href="media/apple-touch-icon-60x60.png"/>
<link rel="apple-touch-icon" sizes="76x76" href="media/apple-touch-icon-76x76.png"/>
<link rel="apple-touch-icon" sizes="120x120" href="media/apple-touch-icon-120x120.png"/>
<link rel="apple-touch-icon" sizes="152x152" href="media/apple-touch-icon-152x152.png"/>
</head>
<body>
<div id="container">
	<div id="header" class="section">
        <h1 translate="no">David R. N.</h1>
		<div class="details">
			<p><i class="bi bi-stars"></i>I make useless interactive stuff.</p>
			<!--<p><i class="bi bi-journal-bookmark-fill"></i><a href="/blog">Blog</a></p>-->
		</div>
	</div>
    <div id="installations" class="section red">
        <h2><a class="dropdown-disabled">Installations <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>
			{%- for item in site.data.installations -%}
			<div id="{{ item.id }}" class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>
			</div>
			{%- endfor -%}
			<br/>
			<hr/>
		</div>
    </div>
	<div id="apps-games" class="section blue">
        <h2><a class="dropdown-disabled">Apps &amp; games <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>		
			{%- for item in site.data.apps-games -%}
			<div class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}			
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>
			</div>
			{%- endfor -%}
			<br/>
			<hr/>
		</div>
    </div>
	<div id="education" class="section green">
        <h2><a class="dropdown-disabled">Education <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>		
			{%- for item in site.data.education -%}
			<div class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}			
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>				
			</div>
			{%- endfor -%}
			<br/>
			<hr/>			
		</div>
    </div>
	<div id="experiments" class="section orange">
        <h2><a class="dropdown-disabled">Experiments <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>
			{%- for item in site.data.experiments -%}
			<div class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}			
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>
			</div>
			{%- endfor -%}
			<br/>
			<hr/>			
		</div>
    </div>	
	<div id="game-jams" class="section purple">
        <h2><a class="dropdown-disabled">Game jams <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>		
			{%- for item in site.data.game-jams -%}
			<div class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}			
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>
			</div>
			{%- endfor -%}
			<br/>
			<hr/>			
		</div>
    </div>	
	<div id="miscellanea" class="section light-green">
        <h2><a class="dropdown-disabled">Miscellanea <span class="dropdown-icon">[<span class="loader"></span>]</span></a></h2>
		<div class="content" style="display: none;">
			<hr/>		
			{%- for item in site.data.miscellanea -%}
			<div class="item">
				<h3>{{ item.name }}</h3>
				{% include media.html %}
				<p class="info">{{ item.info }}</p>
				<div class="details">
				{%- include org.html -%}
				{%- include events.html -%}	
				{%- include achievements.html -%}
				{%- include links.html -%}			
				{%- include team.html -%}
				{%- include time.html -%}				
				{%- include tech.html -%}
				</div>			
			</div>
			{%- endfor -%}
			<br/>
			<hr/>
		</div>
    </div>
	{%- include contact.html -%}
</div>
</body>
<script src="/vendor/flickity/flickity.pkgd.min.js"></script>
<script src="/script.js"></script>
<script>
window.addEventListener("load", function (event) {
	var sectionDropdowns = document.getElementsByClassName("dropdown-disabled");
	while (sectionDropdowns.length > 0) {
		var dropdown = sectionDropdowns[0];
		dropdown.classList.remove("dropdown-disabled"); // Removes the element from the array!
		dropdown.classList.add("dropdown");
		dropdown.getElementsByClassName("dropdown-icon")[0].innerHTML = "[+]";
		dropdown.addEventListener("click", function() {
			content = this.parentNode.nextElementSibling;
			if (!content.classList.contains("ready")) {			
				initSection(content);
			}
			toggleDropdown(this);
			var previews = content.getElementsByClassName("preview");
			for (var i = 0; i < previews.length; i++) {
				toggleDropdown(previews[i]);
			}		
		});
	}
});
</script>
</html>